* {
    padding: 0;
    margin: 0;
}

body {
    height: 700px;
    background-color: #333333;
}

h1 {
    text-align: center;
    color: white;
    padding-bottom: 60px;
    padding-top: 40px;
}

.imagem {
    display: flex;
    justify-content: center;
}

#resultado {
}

label {
    color: #EE394E;
    font-weight: bold;
    font-size: 26px;
}

#alcool, #gasolina {
    height: 30px;
}

#digitapreco {
    padding: 30px 0px;
    display: flex;  
}

.caixatexto {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#botao {
    height: 40px;
    width: 100px;
}
